<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create post</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create post<br>
title:
<input id ="input_title" type="text"></input><br>
content:
<input id="input_content" type="text"></input><br>
author:
<input id="input_author" type="text"></input><br>
<button onclick="post_create()">create post</button>
<script>
    function post_create() {
        $.ajax({
            url: "/api/post/create",
            method: "GET",
            data: {
                title: $("#input_title").val(),
                content: $("#input_content").val(),
                author: $("#input_author").val()
            },
            success: (data, status, xhr) => {
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr) => {
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>