<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create sboard</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create sboard<br>
title:
<input id ="input_title" class="input_value" type="text"></input><br>
content:
<input id="input_content" class="input_value" type="text"></input><br>
author:
<input id="input_author" class="input_value" type="text"></input><br>
<button onclick="sboard_create()">create sboard</button>
<script>
    function sboard_create() {
        let params ={};
        let input_value=$(".input_value");
        for(let each of input_value){
            let eachId= $(each).attr("id");
            let eachKey=eachId.replace("input_","")
            params[eachKey]= $(each).val();
        }
        $.ajax({
            url: "/api/sboard/create",
            method: "GET",
            data: params,
            success: (data, status, xhr) => {
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr) => {
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>